#cab{
    height: 120px;
    color: black;
    font-size: 20px;
}

#cab img{
    height: 70px;
    width: 70px;
}

#cab ul{
    float: left;
}



#main h2{
    color: black;
    font-weight: bold;
}

#int1{
    background-color: azure;
}

#int1 p, #int2 p, #int3 p{
    color: black;
}

#int2{
    background-color: rgb(155, 240, 240);
}

#int3{
    background-color: azure;
}